@model Web_Skate.Models.DonHang

@{
    ViewBag.Title = "EditDH";
    Layout = "~/Views/Shared/_LayoutNhanVien.cshtml";
}

<h2>EditDH</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Đơn Hàng</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_DonHang)

        <div class="form-group">
            <p style="font-weight:bold">Mã Của Khách Hàng</p> 
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_KH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ID_KH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p style="font-weight:bold">Phương Thức Thanh Toán</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PT_ThanhToan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PT_ThanhToan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p style="font-weight:bold">Ghi Chú Khách Hàng</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p style="font-weight:bold">Trạng Thái Đơn Hàng  (1 = Đang Chờ Duyệt; 2 = Đang Giao Hàng; 3 = Đã Giao Hàng)</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TranThai, new { htmlAttributes = new { @class = "form-control" } }) 
                @Html.ValidationMessageFor(model => model.TranThai, "", new { @class = "text-danger" })
                
            </div>
        </div>

        <div class="form-group">
            <p style="font-weight:bold">Họ Tên Khách Hàng</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenNguoiNhan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenNguoiNhan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p style="font-weight:bold">Địa Chỉ Của Khách Hàng</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChiNguoiNhan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiaChiNguoiNhan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p style="font-weight:bold">Số Điện Thoại Của Khách Hàng</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT_NguoiNhan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDT_NguoiNhan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p style="font-weight:bold">Ngày Đặt</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayDat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayDat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p style="font-weight:bold">Ngày Giao</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayGiao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayGiao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" id="createnew" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<style>
    #createnew:hover {
        background-color: lawngreen;
    }
</style>
