@model PagedList.PagedList<Web_Skate.Models.SanPham>
@using Web_Skate.Models;
@using PagedList.Mvc;
@helper  Truncate (string input ,int lenght) 
    {
    if (input.Length < lenght)
    {
        @input
    }
    else
    {
        @input.Substring(0, lenght)<text> ....</text>
    }
    }

@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_LayoutNhanVien.cshtml";
}

<h2>Quản Lý Thông Tin Sản Phẩm</h2>

<p >
    @Html.ActionLink("Create New", "CreateNew","NhanVien")
</p>
<table class="table">
    <tr>
        <th style="text-align:center; width:200px">
            Tên Sản Phẩm
        </th>
        <th style="text-align: center; width: 150px">
            Giá Sản Phẩm
        </th>
        <th style="text-align: center; width: 120px">
            Image
        </th>
        <th style="text-align: center; width: 300px">
            Chi Tiết Sản Phẩm
        </th>
        <th style="text-align: center; width: 300px">
            Số Lượng Tồn
        </th>
        <th style="text-align: center; width: 120px">
            Loại Sản Phẩm
        </th>
        <th style="text-align: center; width: 120px">
            Thương Hiệu
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia_SanPham)
            </td>
            <td>
                <img src="@Url.Content("~/asset/shop/" + item.Image)" style="width:150px; height:150px" />
            </td>
            <td>
                @Truncate(item.ChiTietSanPham, 103)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThuongHieu.TenThuongHieu)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditMoiSP", new { id = item.ID_SanPham }) |
                @Html.ActionLink("Details", "ChiTietSanPham", new { id = item.ID_SanPham }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_SanPham })
            </td>
        </tr>
    }


</table>
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount;

<div  class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("SanPham", new { page = page }))

</div>
<style>
    .MenuTrang li {
        display: inline;
        text-align:center;
        width:50px;
        border:solid;
    }
</style>
